{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body style="background-color: rgb(59, 17, 2);">
    <center>
        <h1 style="color: azure;">SALAAR</h1><marquee>
        <img src="{% static 'images/slr.jpg'%}" alt="" height="400" width="300">
        <img src="{% static 'images/slr2.jpg'%}" alt="" height="400" width="300">
        <img src="{% static 'images/slr3.jpg'%}" alt="" height="400" width="300"></marquee>
    
    </center>
</body>
</html>